/* 
  TODO: HTML 요소들의 크기는 미리 설정해 두었습니다.
  position, animation 등을 활용하여 과제를 완성해주세요!
*/
body {
  width: 100%;
  animation: section 5s linear infinite;
  margin: 0;
}

section {
  width: 700px;
  height: 320px;
}

section .sky {
  width: 100%;
  height: 100%;
}

section .sky .sun {
  width: 180px;
  position: relative;
  top: 5%;
  left: 30%;
  animation: sun 5s linear infinite;
}

@keyframes sun {
  0% {
    opacity: 0;
    transform: rotate(60deg);
  }

  25% {
    opacity: 1;
    transform: rotate(120deg);
  }

  50% {
    transform: rotate(180deg);
    opacity: 0;
  }

  75% {
    transform: rotate(240deg);
    opacity: 0;
  }

  to {
    transform: rotate(300deg);
    opacity: 0;
  }
}

section .sky .moon {
  width: 160px;
  position: relative;
  top: 3%;
  left: 3%;
  animation: moon 5s linear infinite;
}

@keyframes moon {
  from {
    opacity: 0;
    transform: rotate(-60deg);
  }

  25% {
    transform: rotate(-120deg);
    opacity: 0;
  }

  50% {
    rotate: (-180deg);
    opacity: 0;
  }

  75% {
    opacity: 1;
    transform: rotate(-240deg);
  }

  to {
    opacity: 0;
    transform: rotate(-300deg);
  }
}

section .sky .cloud_1 {
  width: 160px;
  position: relative;
  top: 20%;
  animation: cloud1 10s linear infinite;
}

@keyframes cloud1 {
  0% {
    left: -10%;
    opacity: 0;
  }
  10% {
    left: 5%;
    opacity: 0.7;
  }
  20% {
    left: 30%;
    opacity: 1;
  }
  30% {
    left: 60%;
    opacity: 1;
  }
  40% {
    left: 75%;
    opacity: 0.7;
  }
  50% {
    left: 90%;
    opacity: 0;
  }
  60% {
    left:75%;
    opacity: 0.7;
  }
  70% {
    left: 60%;
    opacity: 1;
  }
  80% {
    left: 30%;
    opacity: 1;
  }
  90% {
    left: 5%;
    opacity: 0.7;
  }
  100% {
    left: -10%;
    opacity: 0;
  } 
}

section .sky .cloud_2 {
  width: 90px;
  position: relative;
  top: 25%;
  animation: cloud2 5s linear infinite;
}

@keyframes cloud2 {
  0% {
    left: -20%;
    opacity: 0;
  }
  25% {
    left: 20%;
    opacity: 1;
  }
  50% {
    left: 60%;
    opacity: 0;
  }
  75% {
    left: 20%;
    opacity: 1;
  }
  100% {
    left: -20%;
    opacity: 0;
  }
}

section .city .city_img {
  width: 100%;
  position: relative;
  left: 50%;
  /* bottom: 60px; */
}

/* ANIMATION */
/* 
  TODO:.5종류의 애니메이션이 필요함
  - sky: 배경색 변경 애니메이션
  - sun: sun.png가 회전하는 애니메이션
  - moon: moon.png가 회전하는 애니메이션
  - cloud_1: 큰 구름이 좌우로 이동하는 애니메이션
  - cloud_2: 작은 구름이 좌우로 이동하는 애니메이션
*/

/*
  참고: 알아야 할 속성 소개
  oapcity: 0 ~ 1 사이의 값으로 불투명도를 설정할 수 있음
  - 0: 요소가 완전히 투명해 보이지 않음
  - 0~1 사이의 값: 요소가 반투명해 뒤에 내용을 볼 수 있음
  - 1: 요소가 불투명함 
*/

/*
  참고: 배경 색상 종류
  - background-color: #636888;
  - background-color: #b1e1e2;
  - background-color: #fcd2e2;
  - background-color: #675577;
  - background-color: #636888;
*/

@keyframes section {
  0% {
    background-color: #636888;
  }

  25% {
    background-color: #b1e1e2;
  }

  50% {
    background-color: #fcd2e2;
  }

  75% {
    background-color: #675577;
  }

  100% {
    background-color: #636888;
  }
}